


/* account detail  */

.index .item {
    display: flex;
    flex-direction: row;
}
.index .item div{
    margin: 25px;
}
.index .back{
    width: 80%;
    float: left;
}
.index .back button{
    color: blueviolet;
}

/* تغییر */

.index form {
    width: 60%;
    height: 60%;
    text-align: center;
}

.index form .row {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.index form .row label {
    width: 100px;
    text-align: right;
    margin-left: 20px;
}

.index form .row input {
    text-align: center;
    margin: auto;
    margin-right: 0;
    width: 100%;
}

.index form button {
    margin-top: 20px;
    width: 100px;
    color: rgb(100, 171, 29);
}