input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@font-face {
    font-family: BYekan;
    src: url(../../B_Yekan/Yekan.ttf);
  }
input, textarea, select { font-family:BYekan; }

body {
    background-color: #ffffff;
    display: grid;
    min-height: 100vh;
    min-width: 100vh;
    grid-template-columns: 98% 2%;
    grid-template-rows: 25px auto;
    grid-template-areas: "nv sb" "in sb" "in sb" "in sb" "in sb";
    margin: 0;
    font-family: BYekan;
}

/* header  */
.header {
    grid-area: nv;
    display: flex;
    flex-direction: row;
    background-color: #f9f1e8;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.header h5 {
    justify-items: center;
    margin: auto 5px ;
    color: #060e17;
}
.header hr {
    margin: 5px;
}

.header a {
    width: 100px;
    margin: auto 25px;
    background-color: red;
    color: #ffffff;
    border-radius: 10px;
    margin-left: auto;
    height: 24px;
    text-align: center;
    text-decoration-line: none;
}

/* slidbar */
#slidebar{
    display: none;
    
}
#slidebar-btn{
    display: inline-block;
    height: 25px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #f1f1f1;
}
.slidepart{
    grid-area: sb;
    width: 100%;
}
.slide_part_2{
    position: fixed;
    width: 15%;
}
.slide{
    position: fixed;
}
.slidebar {
    background-color: #f1f1f1;
}
.slidebar .groups summary{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);

}
.slidebar .groups .sub-groups a{
    height: 25px;
    color: #2f2f2f;
    background-color: #c1c1c1;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}
.slidebar .groups a{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    margin-top: 0;
    text-decoration-line: none;

}

/* index */
.index {
    grid-area: in;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffb7;
}

.change a{
    text-decoration-line: none;
}