{% extends "admin_panel/_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/admin_panel/_base/style.css' %}" />
<link rel="stylesheet" href="{% static '/admin_panel/accounting/account.css' %}" />
<title>کاربران</title>
{% endblock %}

{% block body %}
<div class="button-header">
    <a href="{% url 'export_users_xls' %}"><button> دانلود فایل اکسل</button></a>
</div>
<table class="base-table-style">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th> active </th>
            <th> سطح </th>
            <th>تغییرات</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.user.username}}</td>
            <td>{{user.user.is_active}}</td>
            <td>{{user.accessibility}}</td>
            <td class="change">
                <a style="color: blue; " href="user/detail/{{user.pk}}/">مشاهده</a>
                <a style="color: green;" href="user/edit/{{user.pk}}/">تغییرات</a>
            </td>
        </tr>
        {% endfor%}

    </tbody>
</table>
{% endblock %}

{% block script %}
{% endblock %}