{% extends "admin_panel/_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/admin_panel/_base/style.css' %}" />
<link rel="stylesheet" href="{% static '/admin_panel/accounts/account.css' %}" />
<title>مشاهده کاربر</title>
{% endblock %}

{% block body %}
<div class="item">
    <div>
        <label for="username">Username</label>
        <input type="text" value="{{user.user.username}}" disabled="disabled"disabled="disabled">
    </div>
</div>
<div class="item">
    <div>
        <label for="username">Name</label>
        <input type="text" value="{{user.user.first_name}}" disabled="disabled">
    </div>
    <div>
        <label for="username">Last Name</label>
        <input type="text" value="{{user..user.last_name}}" disabled="disabled">
    </div>
</div>
<div class="item">
    <div>
        <label for="username">Email</label>
        <input type="" value="{{user.user.email}}" disabled="disabled">
    </div>
    <div>
        <label for="username">Active</label>
        <input type="text" value="{{user.user.is_active}}" disabled="disabled">
    </div>
</div>
<div class="item">
    <div>
        <label for="username">Accessibility</label>
        <input type="text" value="{{user.accessibility}}" disabled="disabled">
    </div>
</div>

<a href="../../../" class="back"> <button > بازگشت</button></a>
{% endblock %}

{% block script %}
{% endblock %}