{% extends "admin_panel/_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/admin_panel/_base/style.css' %}" />
<link rel="stylesheet" href="{% static '/admin_panel/accounting/account.css' %}" />
<title>تغییرات</title>
{% endblock %}

{% block body %}
<form class="form-create" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        {{ form.name.errors }}
    {% endif %}
    <div class="body-end">
        <div class="result">
            <div>
                {{ form.name }}
                <label for="username">نام حساب</label>
            </div>
            <div>
                {{ form.id }}
                <label for="first_name">کد</label>  
            </div>
        </div>
        <div class="submit">
            <button type="submit">ثبت</button>
        </div>
    </div>
</form>

<a href="../../"> <button class="back"> بازگشت</button></a>
{% endblock %}

{% block script %}
{% endblock %}