{% extends "admin_panel/_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/admin_panel/_base/style.css' %}" />
<link rel="stylesheet" href="{% static '/admin_panel/accounting/documents.css' %}" />
<title>دفتر روزنامه</title>
{% endblock %}

{% block body %}
<div class="button-header">
    <a href="export/xls/{{id}}/"><button> دانلود فایل اکسل</button></a>
    <link rel="stylesheet" href="css/persianDatepicker-default.css" />
</div>
<form class="form-search"  method="POST">
    {% csrf_token %}
    <div class="search">
        <div>
            <label for="first_name">کد</label>
            <input type="number" name="id" >
        </div>
        <button type="submit">سرچ</button>

    </div>
</form>
<table class="base-table-style" id="table"> 
    <thead>
        <tr>
            <th>تاریخ سند</th>
            <th>شماره سند</th>
            <th class="description">شرح</th>
            <th>بدهکار</th>
            <th>بستانکار</th>
            <th>مانده در خط</th>
        </tr>
    </thead>
    <tbody>
        {% for journal in journals %}
        <tr>
            <td><input type="text" value="{{journal.document.date}}" readonly></td>
            <td><input type="text" value="{{journal.document.id}}" readonly></td>
            <td><input type="text" value="{{journal.description}}" readonly></td>
            <td><input type="text" value="{{journal.debtor}}" readonly></td>
            <td><input type="text" value="{{journal.creditor}}" readonly></td>
            <td><input type="text" value="0" readonly></td>  
        </tr>
        {% endfor%}

    </tbody>
</table>
{% endblock %}


{% block script %}
<script>
    window.onload = function exampleFunction() {
        var table = document.getElementById("table");
        var tr = table.children[1];
        var tr = tr.children;
        var result = 0 ;
        for (var i = 0; i < tr.length; i++) {
            var debtor =tr[i].children[3];
            var creditor =tr[i].children[4];
            var result_column =tr[i].children[5];
            result = (result + Number(debtor.children[0].value)) - Number(creditor.children[0].value);
            debtor.children[0].value = Number(debtor.children[0].value.replaceAll(",","")).toLocaleString();
            creditor.children[0].value = Number(creditor.children[0].value.replaceAll(",","")).toLocaleString();
            result_column.children[0].value = result.toLocaleString();
            if(result < 0 ){
                result_column.children[0].style.color = "red" ;
                result_column.children[0].value = "("+(Math.abs(result)).toLocaleString()+")";
            }
        }
    }
</script>
{% endblock %}