{% extends "admin_panel/_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/admin_panel/_base/style.css' %}" />
<link rel="stylesheet" href="{% static '/admin_panel/accounting/journals.css' %}" />
<title>مرور کالاها</title>
{% endblock %}

{% block body %}
<div class="body-header">
    <a href="export/xls/"><button class="excel">دریافت فایل اکسل</button></a>
</div>
<form class="form-search"  method="POST">
    {% csrf_token %}
    <div class="search">
        <div>
            <label for="first_name">کد</label>
            <input type="number" name="id" >
        </div>
        <button type="submit">سرچ</button>
    </div>
</form>
<table class="base-table-style" id="table"> 
    <thead>
        <tr>
            <th>کد</th>
            <th>نام کالا</th>
            <th>گردش وارده</th>
            <th>گردش صادره</th>
            <th>مانده</th>
        </tr>
    </thead>
    <tbody>
        {% for journal in journals_list %}
        <tr>
            <td>{{journal.code}}</td>
            <td>{{journal.name}}</td>
            <td>{{journal.debtors}}</td>
            <td>{{journal.creditors}}</td>
            <td>{{journal.re_amount}}</td>
        </tr>
        {% endfor%}
        <tr id="result">
            <td>-</td>
            <td>-</td>
            <td>{{sum_debtors}}</td>
            <td>{{sum_creditors}}</td>
            <td>{{result}}</td>
        </tr>

    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
    window.addEventListener("load", function(){
        var table = document.getElementById("table");
        var tr = table.children[1];
        var tr = tr.children;
        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].children[4];
            var x = td.innerHTML
            if( x < 0 ){
                x = Math.abs(x)
                x = (Math.round(x * 100) / 100).toLocaleString();
                td.innerHTML = "("+x+")";
                td.style.color = "red";
            }
            else{
                x = (Math.round(x * 100) / 100).toLocaleString();
                td.innerHTML = x;
            }
        }
        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].children[3];
            var x = td.innerHTML
            x = (Math.round(x * 100) / 100).toLocaleString();
            td.innerHTML = x;
        }
        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].children[2];
            var x = td.innerHTML
            x = (Math.round(x * 100) / 100).toLocaleString();
            td.innerHTML = x;
        }
    });
</script>
{% endblock %}