{% extends "admin_panel/_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/admin_panel/_base/style.css' %}" />
<link rel="stylesheet" href="{% static '/admin_panel/accounting/documents_edit.css' %}" />
<title>تغییرات</title>
{% endblock %}

{% block body %}
<form class="form" method="POST">
    {% csrf_token %}
    <div class="body-header">
        <div class="header-div">
            <div class="journal">
                <input type="number" value="{{document.id}}" readonly="true" name="document_id" >
                <label for="first_name"> شماره سند</label>
            </div>
            <div class="date">
                <input type="text" name="document_date" required value="{{document.date}}">
                <label for="first_name">تاریخ</label>
            </div>
        </div>
        <div class="header-div">
            <div class="description">
                <input type="text" name="document_description" value="{{document.description}}">
                <label for="username">شرح</label>
            </div>
        </div>
    </div>
    <table class="base-table-style" id="table">
        <thead>
            <tr>
                <th class="check_row"></th>
                <th class="id"> کد کالا</th>
                <th class="name">نام کالا</th>
                <th>شرح</th>
                <th class="debtor">وارده</th>
                <th class="creditor">صادره</th>
            </tr>
        </thead>
        <tbody id="documents">
            {% for journal in journals %}
                <tr>
                    <td >
                        <input class="check-row" type="button" value="*" onclick="check_row(this);"/>
                    </td>
                    <td >
                        <input type="number" name="code" value="{{journal.materials.id}}">
                    </td>
                    <td >
                        <input type="text" name="name" value="{{journal.materials.name}}">
                    </td>
                    <td >
                        <input type="text" name="description" value="{{journal.description}}">
                    </td>
                    <td >
                        <input type="text" name="debtor" value="{{journal.debtor}}">
                    </td>
                    <td >
                        <input type="text" name="creditor" value="{{journal.creditor}}">
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    <div class="add">
        <button  type="button" id="add">+</button>
    </div>
    <div class="body-end">
        <div class="result">
            <div>
                <input type="text" value="0" readonly="true" id="sum_creditor" name="sum_creditor">
                <label for="first_name">صادره</label>
            </div>
            <div>
                <input type="text" value="0" readonly="true" id="sum_debtor" name="sum_debtor">
                <label for="first_name">وارده</label>
            </div>
        </div>
        <div>
            <button type="submit" id="submit" >ثبت</button>
            <button type="button" onclick="check_all()">بررسی</button>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
    var code_list = [];
    var name_list = [];
    {% for material in materials %}
        code_list.push({{material.id}});
        name_list.push("{{material.name}}");
    {% endfor %}
    function check_row(id) {
        var p = id.parentElement;
        var parent = p.nextElementSibling;
        var parent_2 = parent.nextElementSibling;
        var child = parent.children[0];
        var child_2 = parent_2.children[0];

        var name = child_2.value;
        var code = child.value;

        if(code != ""){
            for(var i=0; i<code_list.length; i++){
                if(code_list[i] == code) {
                    child_2.value = name_list[i];
                    break;
                }
            }
        }else{
            for(var i=0; i<name_list.length; i++){
                if(name_list[i] == name) {
                    child.value = code_list[i];
                    break;
                }
            }
        }
    }
    var debtor = document.getElementById("sum_debtor");
    var creditor =document.getElementById("sum_creditor");
    debtor.value = 0;
    creditor.value = 0;
    function check_all(){
        var table = document.getElementById("table");
        var tr = table.children[1];
        var tr = tr.children;
        debtor.value = 0;
        creditor.value = 0;
        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].children[4];
            var re =Number(debtor.value.replace(",","")) + Number(td.children[0].value.replace(",",""))   
            debtor.value = (Math.round(re * 100) / 100).toLocaleString();
            td.children[0].value = (Math.round(td.children[0].value.replace(",","") * 100) / 100).toLocaleString();
        }
        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].children[5];
            var re =Number(creditor.value.replace(",","")) + Number(td.children[0].value.replace(",",""))
            creditor.value = (Math.round(re * 100) / 100).toLocaleString();
            td.children[0].value = (Math.round(td.children[0].value.replace(",","") * 100) / 100).toLocaleString();

        }



    }
    document.querySelector("#add").onclick = function(e){
        var div = document.createElement('tr');
        div.innerHTML = `
        <td >
            <input class="check-row"  type="button" value="*" onclick="check_row(this);"/>
        </td>
        <td >
            <input type="number" name="code">
        </td>
        <td>
            <input type="text" name="name">
        </td>
        <td>
            <input type="text" name="description">
        </td>
        <td>
            <input type="text" value="0" name="debtor">
        </td>
        <td>
            <input type="text" value="0" name="creditor">
        </td>
        `;
        document.getElementById('documents').appendChild(div);
        
      }
</script>
{% endblock %}