{% extends "admin_panel/_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static '/admin_panel/_base/style.css' %}" />
<link rel="stylesheet" href="{% static '/admin_panel/accounting/documents.css' %}" />
<title>دفتر روزنامه</title>
{% endblock %}

{% block body %}
<form class="form-search"  method="POST">
    {% csrf_token %}
    <div class="search">
        <div>
            <label for="first_name">کد</label>
            <input type="number" name="id" >
        </div>
        <button type="submit">سرچ</button>

    </div>
</form>
<table class="base-table-style"> 
    <thead>
        <tr>
            <th>سند</th>
            <th>تاریخ</th>
            <th>شرح</th>
            <th>تغییرات</th>
        </tr>
    </thead>
    <tbody>
        {% for document in documents %}
        <tr>
            <td>{{document.id}}</td>
            <td>{{document.date}}</td>
            <td>
                <input type="text" value="{{document.description}}"></td>
            <td>
                <a href="../document/edit/{{document.pk}}/">تغییرات</a>
            </td>
        </tr>
        {% endfor%}

    </tbody>
</table>
{% endblock %}

{% block script %}
{% endblock %}