@keyframes btn_excel {
    from {
        background-color: rgba(121, 130, 130, 0.099);
        color: rgb(129, 210, 30);
    }
    to {
        background-color: rgb(121, 130, 130);
        color: rgb(119, 255, 0);
    }
}
@keyframes btn_search {
    from {
        background-color: rgba(31, 203, 31, 0.496);
    }
    to {
        background-color: rgb(31, 203, 31);
    }
}

.excel{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background-color: rgba(121, 130, 130, 0.099);
    color: rgb(129, 210, 30);
    border-radius: 10px;
}
.excel:hover {
    animation-name: btn_excel;
    animation-duration: 1s;
    background-color: rgb(121, 130, 130);
    color: rgb(119, 255, 0);
    cursor: pointer;
}

.base-table-style {
    border-collapse: collapse;
    min-width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 50px auto;
    direction: rtl;
    text-align: center;
}

.base-table-style thead tr {
    background-color: #1118e3;
    color: #c2f40d;
    font-size: 0.9rem;
}

.base-table-style th,
.base-table-style td {
    padding: 12px 0px;
}

.base-table-style tbody tr {
    border-bottom: 1px solid #dddddd;
    font-size: 0.9rem;
}

.base-table-style tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#result{
    background-color: #1118e3;
    color: #c2f40d;
}

.form-search{
    width: 80%;
}
.form-search .search {
    margin-top: 30px;
    display: flex;
    float: right;
    flex-direction: row;
    width: 50%;
    direction: rtl;
}
.index .form-search .search button{
    width: 100px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(31, 203, 31, 0.496);
    border-radius: 5px;
}
.index .form-search .search button:hover{
    animation-name: btn_search;
    animation-duration: 1s;
    background-color: rgb(31, 203, 31);
    cursor: pointer;
}
